.all-products-section {
  display: flex;
  flex-direction: column;
}
.filters-products {
  display: flex;
  flex-direction: row;
}
.no-products-found-image {
  align-self: center;
  margin-left: 10%;
}
.failure-view-container {
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .all-products-section {
    flex-direction: row;
    justify-content: space-between;
  }
}
.products-section {
  margin-top: 0px;
}

@media screen and (min-width: 768px) {
  .all-products-container {
    margin-left: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
}

.products-heading {
  color: #475569;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .products-heading {
    font-size: 32px;
  }
}

.products-loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@media screen and (min-width: 768px) {
  .products-loader-container {
    width: 70%;
  }
}

.products-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 0;
}
.failure-image {
  width: 900px;
  margin-left: 10%;
}
